<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mi Chat{% endblock %}</title>
</head>
<body>
    <header>
        <nav>
            <a href="/">Inicio</a>
            <a href="/apps/chats/">Chats</a>
            <a href="/apps/users/">Usuarios</a>
            <a href="/apps/post/">Post</a>
            <a href="/apps/friends/">Friends</a>
        </nav>
    </header>


    <div class="content">
        <ul>
            {% for objeto in objetos %}
                <li>{{ objeto }}</li>
            {% endfor %}
        </ul>
        <div>dd</div>
    </div>

    <footer>
        <p>&copy; Chats</p>
    </footer>
</body>
</html>